#comment > h1 {
    background-color: #708090;
    color: aliceblue;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#comment > .comment-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    list-style: none;
    align-items: center;
    background-color: #778899;
}
#comment > .comment-list > li {
    background-color: #F5FFFA;
    width: 800px;
    height: 150px;
    border: 1px solid #F5FFFA;
    border-radius: 20px;
    margin: 20px 0;
}

#comment > .comment-list > li > a {
    font-weight: 600;
    font-size: 20px;
    text-decoration-line: none;
    display: inline-block;
    margin: 15px 0 8px 30px;
}

a:link {
    color: #2F4F4F;
}
a:visited {
    color: #2F4F4F;
}


#comment > .comment-list > li > p {
    margin: 8px 0 8px 30px;
}
#comment > .comment-list > li > span {
    cursor: pointer;
    margin: 0 0 0 10px;
    
}


#comment > .comment-form {
    background-color: #708090;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 550px;
    

}
#comment > .comment-form > input {
    margin: 5px 0;
    width: 1000px;
    height: 50px;
    border: 1px solid #708090;
    border-radius: 5px;
    text-align: center;
    background-color: #F8F8FF;
    outline: none;
}
input::placeholder{
    padding: 0 0 0 10px;
    color: gray;
}
textarea::placeholder{
    padding: 10px 0 0 10px;
    color: gray;
}

#comment > .comment-form > textarea {
    width: 1000px;
    height: 100px;
    border-radius: 5px;
    text-align: center;
    background-color: #F8F8FF;
    outline: none;
}
#comment > .comment-form > button {
    width: 1000px;
    height: 35px;
    margin: 30px 0;
    border: 0px;
    background-color: #2F4F4F;
    border-radius: 5px;
    color: aliceblue;
}

