* {
  margin: 0;
  padding: 0;
}

#main {
  height: 260px;
}
#content {
  width: 100%;
  padding: 100px 0 156px;
  background: #edf1f9;
}

#content > .inner {
  background: #edf1f9;
  width: 100%;
  height: 600px;
  max-width: 1200px;
  margin: 0 auto;
}

/* #content > .inner::after {
  content: '';
  display: block;
  clear: both;
} */

#content > .inner > .right {
  float: right;
  width: 530px;
  padding: 56px 56px 48px 56px;
  background: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom: 0px;
  position: relative;
}

#content > .inner > .right > h5 {
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
}

#content > .inner > .right > input {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  height: 60px;
  padding: 15px 30px;
  box-sizing: border-box;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  font-weight: 500;
  font-size: 18px;
}

#content > .inner > .right > .phone {
  width: 100%;
  padding-bottom: 40px;
  border-bottom: 1px solid #e8e8e8;
}

#content > .inner > .right > .phone > input {
  width: 32.5%;
  margin-top: 10px;
  height: 60px;
  padding: 15px 30px;
  box-sizing: border-box;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  font-weight: 500;
  font-size: 18px;
}

#content > .inner > .right > .checkbox {
  width: 100%;
  margin-top: 40px;
}

#content > .inner > .right > .checkbox > label {
  width: 100%;
  margin-top: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  margin-left: 10px;
}

#content > .inner > .right > ul {
  width: 100%;
  list-style: none;
  margin-top: 20px;
}

#content > .inner > .right > ul > li {
  width: 100%;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  /* overflow: hidden; */
}

#content > .inner > .right > ul > li:nth-child(2) {
  margin-top: 25px;
  width: 100%;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
}

/*  
  자식(A, B)의 높이를 인식하도록 하는 방법입니다. 
  즉 떠있기 때문에 부모가 자식의 높이를 인식하지 못하는 현상입니다.
  즉, 인식하기만 하면 된다는거죠?
*/
/* https://sdsupport.cafe24.com/board/update/read.html?no=452&board_no=1002&page= */
#content > .inner > .right > ul > li::after {
  content: '';
  display: block;
  clear: both;
}

#content > .inner > .right > ul > li > div {
  float: left;
  width: 50%;
}

#content > .inner > .right > ul > li > div > label {
  width: 100%;
  margin-left: 10px;
  font-weight: 400;
  font-size: 16px;
}
#content > .inner > .right > ul > li > p {
  float: right;
  width: 50%;
  text-align: right;
  font-size: 13px;
  color: #aaa;
  letter-spacing: -0.03em;
  text-decoration-line: underline;
  cursor: pointer;
}

.right > button[type='submit'] {
  position: absolute;
  cursor: pointer;
  bottom: -56px;
  right: 0;
  color: white;
  background: #6842ff;
  color: #ffffff;
  width: 100%;
  height: 60px;
  border-radius: 5px;
  border: none;
  font-weight: 700;
  font-size: 18px;
}

/* .right > button {
  position: absolute;
  cursor: pointer;
  bottom: -56px;
  right: 0;
  color: white;
  background: #6842ff;
  color: #ffffff;
  width: 100%;
  height: 60px;
  border-radius: 5px;
  border: none;
  font-weight: 700;
  font-size: 18px;
} */
