.container {
  height: 100vh;
  width: 100%;
  padding: 0 0 50px 0;
  display: flex;
  align-items: center;
}

.container-list {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  list-style: none;
}

.container-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-top: 16px;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
}

.container-list-item:nth-child(1) {
  margin-top: 0px;
}

.container-list-item > h3 {
  text-align: start;
  width: 300px;
  font-weight: 600;
  font-size: 18px;
  color: #6842ff;
}
.container-list-item > h4 {
  width: calc(100% - 310px);
  text-align: start;
  font-weight: 400;
  font-size: 18px;
}

.container-list-item > p {
  width: 200px;
  font-weight: 400;
  font-size: 16px;
}

.container-list-item > p > span {
  padding-right: 13px;
  color: #666666;
}