* {
    padding: 0;
    margin: 0;
}

#comments {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100vh;
}

#comments > .comment-list {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1rem;
}

#comments > .comment-list > .card {
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 8px;
    background: #f8f8f8;
    width: 200px;
}

    /* // <li class="card">
    //     <a class="card-title">제목입니다</a>
    //     <span class="card-delete-btn">❌</span>
    //     <p>아이디: wnqudgus1234</p>
    //     <p>내용: 내용입니다.</p>
    // </li> */

.comment-list > .card > .card-title {
    display: inline-block;
    width: 88%;
}

.comment-list > .card > .card-delete-btn {
    cursor: pointer;
}
