h1 {
    margin: 30px;
}

.comment-detail-info {
    border-radius: 10px;
    list-style: none;
    position: relative;
    margin: 1% 10% 1% 20%;
    padding: 1%;
}

.inventory {
    border: 1px solid rgb(194, 194, 194);
    border-radius: 10px;
    list-style: none;
    position: relative;
    margin: 1% 10% 1% 20%;
    padding: 1%;
}

.inventory a {
    font-weight: 600;
}

.inventory a:visited {
    color: black;
}

.inventory-delete-button {
    cursor: pointer;
    position: absolute;
    right: 2%;
    top: 10%;
}

.comments-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input,
textarea {
    display: block;
    width: 100%;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 10px;
    list-style: none;
    position: relative;
    margin: 1% 0 1% 0;
    padding: 1%;
    font-weight: 300;
}

button {
    border-radius: 5px;
    color: white;
    background: rgb(50, 50, 50);
    cursor: pointer;
    
    height: 30px;
    position: absolute;
    right: 1%;
}