#search {
    display: flex;
    justify-content: center;
}

.search-tab {
    border: 1px solid #e8e8e8;
    height: 50px;
    width: 550px;
    border-radius: 45px;
    position: relative;
    margin-top: 100px;
}

.search-tab > input {
    border-radius: 45px;
    outline: none;
    height: 25px;
    font-size: 18px;
    position: absolute;
    margin: 12px;
    border-width: 0;
    left: 15px;
}

.search-tab ::placeholder {
    color: rgb(187, 181, 181);
    font-weight: bold;
}

label {
    cursor: pointer;
}

.search-tab > label::before {
    content: '';
    position: absolute;
    border: 3px solid black;
    border-radius: 45px;
    width: 15px;
    height: 15px;
    right: 7%;
    top: 20%;
}

.search-tab > label::after{
    content: '';
    position: absolute;
    border: 3px solid black;
    width: 10px;
    height: 0px;
    right: 5%;
    top: 57%;
    transform: rotate(43deg);
}

#carrer {
    margin: 90px 300px;
    line-height: 30px;
    font-weight: 500;
    
}

.carrer-box {
    position: relative;
    display: flex;
    border: 1px solid #e8e8e8;
    padding: 20px;
    margin: 15px 100px;
    border-radius: 5px;
}

.company {
    color: #6842ff;
    font-weight: bold;
}

.name {
    position: absolute;
    left: 300px;
}

.dayname {
    position: absolute;
    right: 200px;
    color: gray;
}

.day {
    position: absolute;
    right: 100px;
}

footer {
    background-color: #41455c;
    color: white;
    padding: 50px;
} 

.inner {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 0 20%;
    position: relative;
}

.inner > .top {
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    font-weight: bold;
}

.f-main > span {
    position: absolute;
    left: 200px;
}

h3 {
    display: inline-block;
}

.line {
    border-bottom: 1px solid gray;
    height: 130px;
}

p {
    font-weight: bold;
}

.bottom {
    display: flex;
    justify-content: space-between;
    color: gray;
}


.sns > a {
    color: white;
    font-weight: 500;
    text-decoration: none;
}









